.bubble-container {
    display: flex;
    align-items: center;
    flex-direction: column;

    circle {
        cursor: pointer;
    }

    text {
        pointer-events: none;
    }
}


.d-options {
    max-height: 300px;
    overflow-y: scroll;
}


#tooltip {
    position: absolute;
    width: auto;
    max-width: 200px;
    height: auto;
    padding: 8px;
    overflow-wrap: anywhere;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    pointer-events: none;
}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    font-size: 14px;
    line-height: 26px;
}

.lowercase {
    text-transform: lowercase;
}