
 .btn-primary {
// .swal2-styled.swal2-confirm {
    background-color: #fff;
    color: var(--terciario);
    border: 1px solid var(--terciario);
    font-weight: 900;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle,
.btn.btn-primary.btn-sm.btn-icon.btn-circle:hover,
.btn-primary:hover {
    color: #fff;
    background-color: var(--terciario);
    border: var(--terciario);
    font-weight: 900;
}
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle,
.btn.btn-secondary.btn-sm.btn-icon.btn-circle:hover,
.btn-secondary:hover {
    color: #fff;
    background-color: var(--primary);
    border: var(--primary);
    font-weight: 900;
}

.btn-danger {
    background-color: var(--danger);
    border: 1px solid var(--danger);
    font-weight: 900;
}

.btn-secondary{
    background-color: #fff;
    color: var(--primary);
    border: #fff;
    border: 1px solid var(--primary);
    font-weight: 900;
}

.btn.btn-primary.btn-sm.btn-icon.btn-circle {
    i {
        color: #fff;
        background-color: var(--terciario)
    }
}

