.badge-danger {
    font-size: 1.25em;
    padding: 10px;
    border-radius: 5px;
    padding-top: 50px;
    position: relative;
    width: 100%;

    &::before {
        position: absolute;
        top: 5px;
        left: 50%;
        transform: translate(-50%, 0);
        content: "\f145";
        color: white;
        font-family: 'Flaticon';
        font-size: 2em;
    }
}

.vizNav,
.tabNav {
    background-color: transparent;
    padding: 10px;
    padding-bottom: 0;
    border-bottom: 2px solid white;

    span {
        margin-left: 5px;
        color: white;

        &.btn {
            align-items: center;
            padding: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            // border: 2px solid #48bb87;
            color: #48bb87;
            background-color: #BBBBBC;
            color: #3c4d69;
            border-radius: 0;
            margin-left: 25px;
            position: relative;
            border: none;
            transition: color 0.25s, margin 0.25s;

            &:before {
                content: '';
                width: 10px;
                height: 100%;
                position: absolute;
                left: -10px;
                top: 0;
                background: url('../../assets/imgs/left.svg');
                background-size: cover;
            }

            &:after {
                content: '';
                width: 10px;
                height: 100%;
                position: absolute;
                right: -10px;
                top: 0;
                background-color: red;
                background: url('../../assets/imgs/right.svg');
                background-size: cover;
            }

            &:hover {
                color: white;
            }

            &.active {
                background-color: #fff;
                color: #3c4d69;
                margin-left: 30px;
                margin-right: 5px;

                &:before {
                    background: url('../../assets/imgs/left-w.svg');
                    background-size: cover;
                }

                &:after {
                    background: url('../../assets/imgs/right-w.svg');
                    background-size: cover;
                }
            }
        }
    }
}



.loading_viz {
    margin: 50px;
}

.cev-advancedform {
    z-index: 1100;
}

.resources-group-zindex {
    z-index: 1050;
}

.tooltip.mapa {
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    padding: 4px;
    border-radius: 5px;
}