.wordcloudBar.etiquetas {
    .cloudContainer {
        width: 100%;

        svg {
            max-width: 100%;

            .x-axis {
                .tick {
                    line {
                        stroke: #ccc
                    }
                }
            }
        }
    }


}