@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {
    --primary: #00E0C7;
    --primary500:rgba(0, 244, 199, 0.5);
    --primary200:rgba(0, 244, 199, 0.2);
    --danger: #FB3E7C;
    --secondary: #3C4D69;
    --terciario: #2a5082;
    --terciario200: rgba(42, 80, 130, 0.2);
    --terciario500: rgba(42, 80, 130, 0.5);
    --yellow-cev: #FFCF4D;
}


html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    font-weight: 300;
    font-family: Montserrat;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-fondo {
    height:25px;
    width: 25px;
    background: url(/media/cev/icons/fondos.svg)

}

.spinner .path{
    stroke: var(--primary)
}

.flia-azul {
    fill: #A3D4FF;
    color: #2A5082;
}

.icon-doc {
    height:25px;
    width: 25px;
    background: url(/media/cev/icons/documento.svg)
}

.cv-small {
    height: 2em;
    width: 3em;
    display: inline-block;
}