

.footer {
    background-color: white;
    color: var(--secondary);
    max-height: 74px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top:1%;
    box-shadow: 0 0.5rem 1rem 1rem rgba(44,51,73,0.1);
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: 5px;
    a {
        color: var(--secondary);
    }
}
    