.switch-element {
    display: flex;
    align-items: center;
}

.custom-file-label::after {
    content: "Adjuntar" !important;
}

// .was-validated .form-control:valid + span > span > span {
//     border-color: #0abb87 !important;
//     padding-right: calc(1.5em + 1.3rem);
//     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%230abb87' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
//     background-repeat: no-repeat;
//     background-position: right calc(0.375em + 0.325rem) center;
//     background-size: calc(0.75em + 0.65rem) calc(0.75em + 0.65rem);
// }

.was-validated .form-control:invalid + span > span > span {
    border-color: #FB3E7C !important;
    padding-right: calc(1.5em + 1.3rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23fd397a' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23fd397a' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.325rem) center;
    background-size: calc(0.75em + 0.65rem) calc(0.75em + 0.65rem);
}

.color-attach {
    color: var(--secondary);
    width: 60px;
}
.custom-file {
    height: 6rem;
    cursor: pointer;
}

 .custom-file-label {
    display: flex;
    cursor: pointer;
    align-items: center;
    flex-direction: row;
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    z-index: 1;
    margin-top: 12px;
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--secondary);
    background-color: #fff;
    border-color: var(--secondary);
    border-width: 2px;
    border-radius: 0.25rem;
 }
.custom-file-label:focus,
.custom-file-label.selected:focus {
    border: none;
}
.custom-file-input {
    cursor: pointer;
    margin-bottom: 15px !important;
}
.custom-file-input:focus ~ .custom-file-label {
    border-color: none;
    box-shadow: none;
}
.custom-file-label.hide {
    display: none;
}
.tag-files {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    border-style: hidden;
    vertical-align: middle;
    justify-content: space-between;
    text-align: center;
    z-index: 1;
    margin: 6px;
    height: calc(2rem + 0.75rem + 2px);
    padding: 0.375rem 0.475rem;
    line-height: 1.5;
    background-color: var(--terciario200) !important;
    border: 1px solid var(--terciario200) !important;
    width: auto;
    border-radius: 0.4rem;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.16);
    &.attachedRightsAuthorization{
        background-color: var(--secondary) !important;
        border: 1px solid var(--secondary) !important;
        color: #fff;
        .clear-files-cev{
        color: #fff;

        }
    }
}
.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    display: block;
    height: 0px;
    padding: 0 0.375rem;
    line-height: 1.5;
    color: #2A5082;
    content: "";
    background-color: rgba(0,244,199,1) !important;
    border: 1px solid rgba(0,244,199,1) !important;
    border-left: inherit;
    border-radius: 0 0.25rem 0.25rem 0;
    display: none;
}
.clear-files-cev {
    font-size: 1.3rem;
    margin-left: 1rem;
    align-items: flex-end;
    color:var(--secondary);
    background-color: unset;
    border: 0px;
}

.files-container {
    max-height: 200px;
    overflow:auto;
    overflow-x:hidden;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: var(--secondary) !important;
    color: white;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: rgba(0,244,199,.36) !important;
    border: 1px solid rgba(0,244,199,.36) !important;
    font-weight: 500;
}

.form-label {
    color: var(--secondary);
    font-size: 1rem;
    font-weight: 900 !important;
}


.tag-files-to-delete {
    text-decoration: line-through;
}


.form-text{
    color: var(--terciario);
}