.wordcloudBar.grafo {
    .cloudContainer {
        width: 100%;


    }

    .inside {
        display: flex;
        margin: 10px;

        svg {
            border: 1px solid #999;
            width: 100%;
            max-width: 900px;
        }

        .listado {
            height: 900x;
            overflow: scroll;
            width: 100%;
            columns: 3;
            padding-left: 10px;
            padding-right: 10px;

            .item {
                text-align: left;
                position: relative;
                padding-left: 30px;
                cursor: pointer;

                .icon {
                    width: 15px;
                    height: 15px;
                    border: 1px solid #999;
                    position: absolute;
                    left: 5px;
                    top: 50%;
                    transform: translate(0, -50%);
                    border-radius: 20px;
                }

                &:hover {
                    font-weight: bold;
                }

                &.notactive {
                    .icon {
                        background-color: white !important;
                    }
                }
            }
        }
    }

    .listado_grupo {
        overflow: auto;
        height: calc(100% - 100px);

        .item {
            background-color: white;
            margin: 3px;
            border-radius: 3px;
            padding: 3px;
            border: 1px solid #dcdcdc;

            &:hover,
            &.active {
                background-color: #FFCF4D;
                color: #333;
                cursor: pointer;
            }
        }
    }

    .overlay {
        position: absolute;
        width: 90%;
        height: 90%;
        top: 5%;
        left: 5%;
        background-color: rgba(255, 255, 255, 0.85);
        border-radius: 5px;
        border: 1px solid #444E67;

        .top {
            height: 100px;
            color: white;
            display: flex;
            color: #444E67;
            background-color: #ffcf4d;
            align-items: center;
            justify-content: center;
            position: relative;

            .close {
                width: 20px;
                height: 20px;
                background-color: red;
                border-radius: 50px;
                cursor: pointer;
                position: absolute;
                top: 10px;
                right: 10px;
            }
        }
    }
}