.list-item {
    font-weight: 500;
    border-top: 0px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    padding: 1rem 0 0 0;
    cursor: pointer;

    &:nth-child(1) {
        border-top: 1px solid;
        margin-top: 1rem;
    }
    &:hover,
    &:visited,
    &:focus,
    &:active {
        font-weight: 700;
    }

    .list-subitem {
        display: flex;
        flex-direction: column;
        padding: 1rem 0 0 0;
        padding: 0;
        border: 0;
        .list-item {
            padding: 0;
            border: 0;
            font-weight: 500;
            &:hover,
            &:visited,
            &:focus,
            &:active {
                font-weight: 800;
            }
        }
        font-weight: 500;
        background-color: #fff;

        padding-left: 1rem;
    }
}
.view-tree-container {
    .view-tree-title {
        .label {
            font-weight: 700;
        }
    }
    .view-tree-body {
        display: flex;
        flex-direction: column;
    }
}
