.wordcloudBar.mapa {
    .cloudContainer {
        .map_inside {
            display: flex;
            
            > svg {
                border: 1px solid #ccc;
                margin: 1%;
                width: 48%;
            }
        }
    }
}