.form-container {
    margin: 25px;
}
.section-form {
    padding: 30px 15px;
}

.container-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.view-tree-container,
.card-cev {
    border-radius: 0.2rem;
    box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 !important;
    overflow-y: auto;
    overflow-x: clip;
    &.height-50{
        height: 50vh;
    }
    &.height-60{
        height: 60vh;
    }
    &.height-70{
        height: 70vh;
    }
    &.height-80{
        height: 80vh;
    }
    &.height-90{
        height: 90vh;
    }
}


.view-tree-title,
.card-cev-title {
    width: 100%;
    position: sticky;
    top: 0px;
    background-color: var(--terciario);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 2.8rem;
    padding: 0 1rem;
    z-index: 1;
    color: #fff;
    .label, .child {
        color: #fff;
        font-weight: 700;
    }
}

.circle-icon{
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: flex;
    padding: 3px 0px 0px 2px;
}

.view-tree-body ,
.card-cev-body {
    margin: 1rem ;
}

.content-destiny{
    margin-top: 1rem;
    width: 100%;
    background-color: #fff;
    min-height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    border-radius: 0.2rem;
}

.content-destiny-element {
    padding: 10px;
    display: flex;
    flex-direction: column;
    .child {
        margin-left: 1rem;
    }
}


.meta-container {
    border: 1px solid var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
    max-height: 50vh;
    padding: 1rem;
    .meta-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        .form-label {
            text-transform: capitalize;
            text-align: left;
        }
        .meta-value{
            display: flex;
            flex-direction: column;
            text-align: left;
            padding-left: 2rem;
        }
    }
}

.filter-container {
    box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
    display:flex;
    flex-wrap: nowrap;
    margin: 0 0 1rem 0 ;
    width: 90vw;
    background-color: #fff;
    min-height: 7vh;
    flex-direction: row;
    justify-content: space-around ;
    padding: 1rem;
    border-radius: 0.2rem;
    align-items: center;
}

.toolbar-cataloging {
    box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
    position: fixed;
    top: 30%;
    left: 0;
    border-radius: 0 1rem 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: min-content;
    padding: 1rem;
    background-color: var(--terciario500);
    width: 4.1rem;

    align-content: space-around;
    align-items: center;
    z-index: 1;
    &.size-15 {
        font-size: 1.5rem;
    }
    .btn-action{
        color: #fff;
        background-color: var(--secondary);
        width: 3.5rem;
        margin-bottom: 1rem;
        height: 3.5rem;
        border-radius: 1rem;
        border: 0;
        &:hover{
            background-color: #ccc;
            color: var(--secondary);
        }
        &.danger{
            color: var(--danger);
            &:hover{
                background-color: var(--danger);
                color: var(--secondary);
            }
        }
        &.warning{
            color: var(--yellow-cev);
            &:hover{
                background-color: var(--yellow-cev);
                color: var(--secondary);
            }
        }
        &:last-child() {
            margin-bottom: 0rem;
        }
    }
}

.toolbar-lists {
    position: absolute;
    top: 30%;
    right: 0;
    border-radius: 1rem 0 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: min-content;
    padding: 1rem;
    background-color: var(--primary);
    width: 4.1rem;
    align-content: space-around;
    align-items: center;
    z-index: 1;
    .btn-action{
        color: #fff;
        background-color: var(--secondary);
        width: 3.5rem;
        margin-bottom: 1rem;
        height: 3.5rem;
        border-radius: 1rem;
        border: 0;
        &:hover{
            background-color: #ccc;
            color: var(--secondary);
        }
        &.danger{
            color: var(--danger);
            &:hover{
                background-color: var(--danger);
                color: var(--secondary);
            }
        }
        &.warning{
            color: var(--yellow-cev);
            &:hover{
                background-color: var(--yellow-cev);
                color: var(--secondary);
            }
        }
        &:last-child() {
            margin-bottom: 0rem;
        }
    }
}

.dataTables_wrapper .dataTable .selected th, .dataTables_wrapper .dataTable .selected td {
    background-color: var(--terciario200) !important;
    color: var(--secondary) !important;
}

select:-internal-list-box option:checked  {
    background-color: var(--terciario200);
}

// i {
//     color: var(--terciario);
//     font-size: large;
// }

.badge-primary {
    background-color: var(--terciario);
    color: #fff;
}

.btn-outline-primary {
    color: #fff;
    border-color: #fff;
}
.btn-outline-primary:hover {
    color: var(--terciario);
    background-color: #fff;
}

.page-item.active .page-link {
    background-color: var(--terciario);
    border-color: var(--terciario);
}

.page-link {
    color: var(--terciario);
    font-size: large;
}

option:checked {
 background-color: var(--terciario200);
}
.table-bordered,
.table-bordered th, .table-bordered td {
    border: 1px solid var(--terciario500)
}

.table-hover tbody tr:hover {
    background-color: var(--terciario200);
}