.container-general {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    .container-result {
        box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
        background-color: #fff;
        margin: 1rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        .header {
            display: flex;
            flex-direction: row;
            border-bottom: 2px solid var(--terciario) ;
            flex-wrap: nowrap;
            justify-content: space-between;
            .item {
                margin-right: 1rem;
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                .access-level {
    
                }
            }
        }
        .content {
            flex-direction: column;
            align-items: flex-start;
        }
        .actions {
            flex-direction: row;
            justify-content: flex-end;
        }
    }
}

.found-multiple-results {

}

.link-cev {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}
.breadcrumb {
    .breadcrumb-item {
        a {
            color: var(--terciario);
            font-weight: 600
        }
    }
}
