.wordcloudBar {
    display: flex;
    background: white;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: center;
    margin-bottom: 10px;
    min-height: 200px;

    .cloudContainer {
        width: 100%;
        text-align: center;
        position: relative;

        .viewSelect {
            display: flex;
            justify-content: left;
            margin-top: 10px;

            .item {
                border: 2px solid #ccc;
                padding: 10px;
                margin-left: 10px;
                border-radius: 5px;
                padding-top: 5px;
                color: #999;
                padding-bottom: 5px;
                cursor: pointer;

                &.active {
                    background-color: #fff;
                    border-color: #555;
                    color: #555;
                    cursor: default;
                }
            }
        }

        @media all and (max-width: 1027px) {
            width: 100%;
        }

        .info {
            padding: 10px;
            padding-right: 50px;

            .more-info {
                position: absolute;
                top: 5px;
                right: 10px;
                cursor: pointer;

                &::before {
                    content: "\f185";
                    color: #333;
                    font-family: 'Flaticon';
                    font-size: 2em;
                    font-weight: bold;
                }
            }
        }

        .moreInfo-box {
            position: absolute;
            display: flex;
            align-items: center;
            width: 80%;
            height: 100%;
            padding: 15px;
            background-color: rgba(255, 255, 255, 0.95);
            border-radius: 5px;
            color: #333;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: opacity 0.25s ease;
            font-size: 1.25em;

            &.active {
                opacity: 1;
            }
        }
    }

    canvas {
        max-width: 100%;
        height: auto;
    }

    .groups {
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid #ccc;
        padding-top: 20px;
        margin-top: 20px;

        .item {
            margin: 5px;
            margin-bottom: 10px;
            cursor: pointer;
            padding-right: 5px;
            padding-left: 40px;
            border-radius: 3px;
            position: relative;
            font-weight: bold;

            .icon {
                position: absolute;
                width: 25px;
                height: 25px;
                border-radius: 5px;
                left: 10px;
                top: 50%;
                transform: translate(0, -50%);
                text-align: center;
                transition: all 0.25s ease;

                &::before {
                    font-family: Flaticon2;
                    content: "\f1c4";
                    color: white;
                    line-height: 25px;
                }
            }

            &.inactive {
                .icon {
                    opacity: 0.3;
                }
            }
        }

        &.side {
            align-content: flex-start;
            text-align: left;
            width: 100px;
        }
    }

    &.grafo {
        .left {
            background-color: #444E67;
        }

        .inside {
            position: relative;
        }


    }
}