@mixin icon-colors($fallback: black) {
  fill: $fallback;
  @content;
}

.icon {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  &--fill {
    @include icon-colors(grey);
  }
  &--color {
    @include icon-colors(#2A5082) {
      --borde: #2A5082;
      --cup-color: #A3D4FF;
      --alterno-color: #A3D4FF;
    }
  }
  &--color-alt {
    @include icon-colors(#2A5082) {
      --handle-color: #1f2bac;
      --cup-color: #2f3fff;
      --alterno-color: #00E0C7;
    }
  }
}

// ------------------------------------------------ //
//	Base
// ------------------------------------------------ //

// general colors
$body-bg-color: #141923;
$brand-primary: #1D92AF;
$brand-secondary: #7d939a;
$line-color: #ddd;
$base_box: #19202E;

$base-font-color-dark: #555;
$base-font-color-light: #fff;
$base-heading-font-color: #2f2f2f;
$base-subheading-font-color: #757575;

// modal

$the-red: #E45024 !important;
$the-yellow: #D78313 !important;
$the-green: #048278 !important;
$the-blue: #5C77FF !important;
$the-white: #ffffff !important;

$modal-bg-color: #19202E;

// modal
$panel-header: #19202E;

// sign, button colors
$color-default: #F5F5F5; // except for button
$color-default-btn: #626262;
$color-primary: $brand-primary;
$color-info: #46B0CF;
$color-danger: #DB3833;
$color-warning: #E7A13D;
$color-success: #4BA84B;
$color-custom-primary: #E24715;
$color-custom-secondary: #1CACA0;
$custom-file-text: (
  en: "Browse",
  es: "Elegir"
);


// fonts
$base-font-family: 'Montserrat', sans-serif;
$base-font-size: 13px;
$secondary-font-family-light: "latolight";
$secondary-font-family-regular: "latoregular";
$secondary-font-family-bold: "latobold";
$button-font: "latolight";


// responsive
$mid_device : 'only screen and (min-width: 992px) and (max-width: 1440px)';
$tab_device:'only screen and (min-width: 768px) and (max-width: 991px)';
$large_mobile: 'only screen and (min-width: 576px) and (max-width: 767px)';
$tab:'(max-width: 991px)';
$small_mobile:'(max-width: 576px)';
$xs_mobile:'(max-width: 420px)';
$sm_mobile:'only screen and (min-width: 421px) and (max-width: 575px)';
$big_screen:'only screen and (min-width: 1200px) and (max-width: 1440px)';
$extra_big_screen: 'only screen and (min-width: 1200px) and (max-width: 3640px)';

// custom media queries breakpoint
$break-xsmall: 480px;
$break-small: 768px;
$break-medium: 992px;
$break-large: 1280px;
$break-large-wide: 1366px;
$break-xlarge: 1850px;

// media queries breakpoint, based on bootstrap
$break-bs-small: 768px;
$break-bs-medium: 992px;
$break-bs-large: 1200px;

// top bar
$top-bar-bg-color: #141923;
$top-bar-foreground-color: #f1f1f1;
$top-bar-darker-color: darken($top-bar-bg-color, 5%);
$foreground-color: darken($top-bar-bg-color, 3%);
$icon-color: #5C77FF;

// sidebar
$active-bg-color: #09101D;
$active-icon-color: #5C77FF;
// login
$themecolor: #6139AC;
$light: #5C77FF;
$red: #e9edf2;

// element color, such as stat, quick access 
$element-bg-color-blue: #1D92AF;
$element-bg-color-green: #859419;
$element-bg-color-orange: #CE7B11;
$element-bg-color-seagreen: #3F7577;
$element-color-seagreen: #3F7577;
$element-color-blue: #1D92AF;
$element-color-orange: #CE7B11;
$tooltip-bg-color: #09101D;

// main content wrapper
$content-wrapper-bg-color: #f1f1f1;

// widget color
$widget-bg-color: lighten($content-wrapper-bg-color, 3%);
$widget-border-color: darken($body-bg-color, 10%);

