/*------------------------------------------------*/
/*  ICONOGRAFIA COMISION

/*------------------------------------------------*/

.flia-green {
  fill: #00e0c7;
  color: #2a5082;
}
.flia-azul {
  fill: #a3d4ff;
  color: #2a5082;
}
.flia-yellow {
  fill: #ffc124;
  color: #2a5082;
}

.flia_1 {
  fill: #f45353;
  color: white;
}
.flia_2 {
  fill: #13c0c8;
  color: white;
  background-color: #13c0c8;
  border-radius: 50%;
  // width: 50%;
  // height: 54px;
}
.icon_menu_inferior_1 {
  color: white;
  background-color: #F45353;
  border-radius: 50%;
}
.icon_menu_inferior_2 {
  color: white;
  background-color: #13C0C8;
  border-radius: 50%;
}
.icon_menu_inferior_3 {
  color: white;
  background-color: #FFC258;
  border-radius: 50%;
}
.flia_3 {
  fill: #ffc258;
  color: white;
}
.cv_medium_museo {
  height: 3em;
  width: 5em;
  display: inline-block;

  @media #{$mid_device} {
    height: 3em;
    width: 4em;
    display: inline-block;
  }
}
.cv-small {
  height: 2em;
  width: 3em;
  display: inline-block;

  @media #{$mid_device} {
    height: 1em;
    width: 2em;
    display: inline-block;
  }
}
.cv-medium {
  height: 4em;
  width: 5em;
  display: inline-block;

  @media #{$mid_device} {
    height: 2em;
    width: 3em;
    display: inline-block;
  }
}
.cv-big {
  height: 6em;
  width: 5em;
  display: inline-block;

  @media #{$mid_device} {
    height: 4em;
    width: 3em;
    display: inline-block;
  }

  &:hover {
    fill: $active-icon-color;
  }
}

.footer {
  @include transition(all 0.3s ease-in-out);

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 0.9em;
  text-align: center;
}
