.AdvancedSearchForm div .add {
  background-color: #e3e3e3;
}


.AdvancedSearchForm {
  display: flex;
}

.cev-advancedform {
  width:100% !important;
}

.advanceSearch{
  width:600px !important;
  .cev-portlet{
    overflow: auto;
  }
}

.map {
  width: 100%;
}

.dropdown-menu-fit.dropdown-menu-left.dropdown-menu-anim.dropdown-menu-xl.cev-advancedform.advanceSearch.dropdown-menu.show,
.dropdown-menu-fit.dropdown-menu-left.dropdown-menu-anim.dropdown-menu-xl.advanceSearch.dropdown-menu.show {
transform: translate3d(0px, 39px, 0px)!important;
}
.mapPlace{
  color: #FFF;
  background-color: #00000030;
}
