// 3rd-party Plugins
@import "~highlight.js/styles/googlecode.css";
@import "~perfect-scrollbar/css/perfect-scrollbar.css";

@import "~bootstrap/scss/bootstrap";
@import "~react-bootstrap-typeahead/css/Typeahead.css";
@import "~line-awesome/dist/line-awesome/css/line-awesome.min.css";

@import '~@sweetalert2/themes/minimal/minimal.min.css';
// //ICONS CLASS
@import "./assets/icons/icons.scss";

@import "./app/styles/wordcloud.scss";
@import "./app/styles/fonts_colors.scss";
@import "./app/styles/forms.scss";
@import "./app/styles/buttons.scss";
@import "./app/styles/grafo.scss";
@import "./app/styles/bubblechart.scss";
@import "./app/styles/etiquetas.scss";
@import "./app/styles/common.scss";
@import "./app/styles/mapa.scss";
@import "./app/styles/footer.scss";
@import './app/styles/lists.scss';
@import './app/styles/resource.scss';
@import './app/styles/results.scss';

@import "./app/sim-ui/styles/common.scss";
@import "./app/styles/ui/common.scss";
@import "./app/styles/ui/popup-sweetalert.scss";

@import 'sweetalert2/src/variables';

// BOX MODEL
$swal2-border-radius: 0;
$swal2-box-shadow: none;

// BACKDROP
$swal2-backdrop-transition: initial;

// ICONS
$swal2-icon-animations: false;

$swal2-success: var(--terciario) !default;
$swal2-success-border: rgba($swal2-success, .3) !default;
$swal2-error: #f27474 !default;
$swal2-warning: #f8bb86 !default;
$swal2-info: var(--terciario) !default;
$swal2-question: var(--terciario) !default;


@-webkit-keyframes fadeInUpContent {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -5%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUpContent {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -5%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUpContent {
  -webkit-animation-name: fadeInUpContent;
  animation-name: fadeInUpContent;
}

.cev-fondos {
  width: 40%;

  .cev-selectpicker {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 100%;
    padding: 0 0 0 10px !important;

    option {
      background-color: white;
    }
  }
}

.cev-bookmarks {
  .cev-portlet {
    margin-bottom: 0px;
    background-color: var(--terciario);

    .cev-portlet__body {
      .cev-typehead {
        .form-control {
          height: auto;
        }
      }

      .cev-typehead-resource-group {
        position: unset !important;

        .form-control {
          height: auto;
        }
      }
    }
  }
}

.cev-labels {
  .cev-loading {
    .cev-splash-screen {
      width: 65% !important;
    }
  }
}

.cev-portlet {
  margin: 2rem;
  .cev-portlet__head-title {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  
  height: auto;
  background: transparent;

  .cev-portlet__head {
    
    background: #ffffff;
  }
}

.ps__thumb-y {
  //height: 20px !important;
  width: 15px !important;
}

.resources-group {
  div {
    .form-control {
      padding: 0.65rem 1rem !important;
      height: auto;
    }
  }
}

.cev-sc__form {
  max-width: 605px !important;
}

.resources-group-search {
  width: 100% !important;
  display: flex;
}

.resources-group-search .AdvancedSearchForm {
  min-width: 235px;
}

.resources-group-list {
  flex-grow: 1;
}

.resources-group-list .form-control {
  height: 100% !important;
  max-width: 50vw;
}

.cev-resource-group,
.view-tree-container {
  padding: 0 !important;
  overflow-x: clip;
}
.label {
  font-weight:700 ;
  color: var(--terciario)
}
.cev-resource-group,
.view-tree-container {
  box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
  .jstree-default {
    margin-right: 50px;

    .jstree-anchor {
      height: auto !important;
      line-height: 24px;
      margin-bottom: 5px;
      white-space: normal;
      word-wrap: break-word;
      word-spacing: 5px;
      text-align: justify;
    }

    .jstree-node {
      background-position: -292px -4px;
      background-repeat: repeat-y;
    }

    .jstree-open>.jstree-ocl {
      background-position: -132px -4px;
    }

    .jstree-node,
    .jstree-icon {
      background-image: url(/media/jstree/32px.png);
    }

    .jstree-themeicon-custom {
      background-image: none;
    }

    .jstree-icon {
      font-size: 1.2rem;
    }

    .jstree-open>.jstree-anchor>.jstree-icon {
      background: url(/media/cev/icons/carpetaopen.svg);
    }

    .jstree-closed>.jstree-anchor>.jstree-icon {
      background: url(/media/cev/icons/carpeta.svg);
    }

    .jstree-leaf>.jstree-anchor>.jstree-icon {
      background: url(/media/cev/icons/documento.svg);
    }

    #j1_1_anchor>.jstree-icon {
      background: url(/media/cev/icons/fondos.svg) !important;
    }
  }
}

@media print {
  body {
    display: none;
  }
}

.cev-results {
  background-color: white !important;
  overflow: inherit;
}

.cev-subheader__desc {
  font-size: 0.9 rem !important;
}

.rbt-menu {
  max-height: 230px !important;
}

.cev-btn-fondos {
  width: 10px;
  height: 37px;
}

.cev-p-20 {
  padding: 20px;
}

.cev-nav__link-title {
  padding-left: 1.9rem;
  font-weight: 600;
  color: #48465b;
  font-size: 1.1rem;
  padding-left: 1.9rem;
  font-weight: 600;
  color: #48465b;
  font-size: 1.1rem;
}

.cev-text-justify {
  text-align: justify;
}

.react-bootstrap-table {
  .table {
    thead {
      color: #ffffff;
      background: #6c7ae0;

      tr {
        th {
          text-align: center;
        }
      }
    }
  }
}

.pg-viewer-wrapper {
  height: 430px !important;
  overflow-y: hidden !important;

  .pg-viewer {
    height: 400px !important;

    .spreadsheet-viewer {
      height: 380px !important;

      .react-grid-Container {
        height: 370px !important;

        .react-grid-Main {
          height: 370px !important;

          .react-grid-Grid {
            height: 370px !important;
          }
        }
      }
    }
  }
}

.cev-alerts {
  .cev-head {
    padding: 0.01rem !important;
  }
}

.cev-sticky-toolbar {
  top: 12%;
  left: -2px;
  background: none;
}

.cev-hidden-navigation {
  .cev-app__aside {
    display: none !important;
  }

  .cev-app__content {
    margin-left: 0 !important;
  }
}

.cev-sc__bottom_fixed {
  padding-bottom: 0px !important;
}

.cev-control-bar {
  align-items: center;
  background-color: #eeeeee;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row: 1;
  justify-content: center;
  padding: 10px 4px;
}

.fullscreen .scrollbar-container {
  height: calc(100vh - 60px) !important;
}

.cev-pdf {
  height: calc(100vh - 260px);
}

.fullscreen .cev-pdf {
  height: calc(100vh - 60px) !important;
}

.cev-notification {
  border-bottom: 1px solid #ebedf2;
  margin: 0 20px 10px 0;
}

.cev-notification-delete {
  z-index: 1;
  right: 1.5rem;
  top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  transition: all 0.3s;
  border-radius: 4px;
  background-color: #fd397a;
  border-color: #fd397a;
  color: #ffffff;
}

.cev-content {
  padding: 0 !important;
}

.cev-container {
  margin-top: 15px !important;
}

.cev-container-subheader {
  margin-top: 0 !important;
}

.cev-quick-panel,
.cev-quick-panel--on {
  overflow: hidden !important;
}

.cev-custom-textarea {
  border: 1px solid var(--terciario);
  width: 75% !important;
  background: #ffffff;
  border-radius: 5px;

  input:focus {
    outline: none;
    border: none;
    color:var(--terciario);
    box-shadow: none;
  }

  .cev-close-button {
    background-color: var(--terciario200);
    border: 0;
    border-radius: 2px;
    color: var(--terciario);
    display: inline-block;
    line-height: 1em;
    margin: 3px;
    padding: 4px 7px;
    position: relative;
    cursor: pointer;
  }

  .cev-close-button:after {
    content: "\d7";
    color: var(--danger);
    margin-left: 2px;
  }
}

.input-group-solid {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f3f6f9;
  border-radius: 0.42rem;

  input {
    height: 100%;
    background-color: #f3f6f9 !important;
    width: 450px !important;
  }
}

div.d3-tooltip {
  position: absolute;
  text-align: center;
  width: fit-content;
  padding: 10px;
  font: 10px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.ht_master.handsontable {
  position: absolute !important;
}

.handsontable.htRowHeaders.htColumnHeaders {
  .ht_master.handsontable {
    .wtHolder {
      width: 100% !important;
    }
  }
}

.cev-form-control {
  border: none;
}

.cev-radio-highlight {
  margin-top: 5px;
  width: 100%;
  font-size: 14px;
  color: #000000;
  background-color: #ffffff;
  padding-top: 5px;
  border-radius: 0.42rem;
}

.cev-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: fit-content !important;

  label {
    margin: 2px 0 0 0 !important;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  input:checked~.checkmark {
    background-color: #2196f3;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  input:checked~.checkmark:after {
    display: block;
  }

  &:hover input~.checkmark {
    background-color: #ccc;
  }

  .checkmark:after {
    left: 9px;
    top: 5px;
    width: 7px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.cev-checkbox-bar {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-left: 5px;
  cursor: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: fit-content !important;
  font-size: 11px;
  max-width: 110px !important;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  input:checked~.checkmark {
    background-color: #2196f3;
  }

  .checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  input:checked~.checkmark:after {
    display: block;
  }

  &:hover input~.checkmark {
    background-color: #ccc;
  }

  .checkmark:after {
    left: 8px;
    top: 5px;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.cev-tags {
  font-size: 10px !important;
  background-color: lightblue !important;
  border-radius: 0.42rem;
}

.cev-sticky-toolbar {
  top: 120px;
}

.cev-link {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.MuiSlider-markLabel {
  font-size: 0.7rem !important;
}

.ps>.ps__rail-y>.ps__thumb-y {
  opacity: 1;
  background: black;
}

.dropdown-menu {
  z-index: 10000 !important;
}

.footer {
  z-index: -100 !important;
}

.mt-10 {
  margin-top: 10px;
}

.css-2613qy-menu {
  margin-bottom: 10px !important;
  padding-bottom: 10px !important;
}

.mb-10 {
  margin-bottom: 16rem !important;
}

.dropdown-menu-fit {
  height: auto !important;
}

.ht_master {
  width: 100%;
}

.info-timeline {
  padding-right: 20px;
  margin-left: 30px;
}

.profile_card::-webkit-scrollbar {
  width: 5px;
}

.profile_card::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}

.profile_card::-webkit-scrollbar-thumb {
  background: #00e0c7;
  border-radius: 10px;
}

// .swal2-delete-modal .swal2-header {
//   background-color: white;
//   border-bottom: 0.1px solid #fd397a;
// }

.timeline-main {
  li {
    display: flex;

    .timeline-title {
      width: 30%;
      min-width: 200px;
    }
  }

  .info-timeline {
    padding-right: 20px;
    margin-left: 30px;
    display: flex;
  }

  .caso-timeline {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #2196f3;
    margin: 2px;

    &.Homicidio {
      background-color: red;
    }

    &.Masacre {
      background-color: #fd397a;
    }

    &.Desaparición {
      background-color: #6c7ae0;
    }
  }
}

.viz-viewer {
  position: relative;
  display: block;
  background: white;
  padding: 15px;
  border-radius: 4px;
  min-height: 90vh;

  .loading_viz {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      text-align: center;
    }
  }
}

// .swal-black .swal2-toast {
//   background-color: #000000bd !important;
// }

// .swal-black .swal2-header {
//   background-color: transparent;
// }

// .swal-black .swal2-header .swal2-title {
//   color: white;
// }

// .swal-black {
//   margin-right: 3%;
// }

#itemMenuBotton .MuiBottomNavigationAction-label {
  font-size: 14px;
  font-weight: 500;
  color: rgb(200, 210, 222);
}

.elements_menu {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.elements_menu a {
  flex: 0 0 auto;
}

.elements_menu::-webkit-scrollbar {
  width: 1em;
  height: 10px;
}

.elements_menu::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(68, 66, 66);
  border-radius: 10px;
}

.elements_menu::-webkit-scrollbar-thumb {
  background: #00e0c7;
  border-radius: 10px;
}

.elements_menu::-webkit-scrollbar:vertical {
  display: none;
}

.help_menu {
  background-color: black;
  color: white;
}

.help_menu>.tooltip-inner {
  background-color: black;
  color: white;
}

.help_menu>.tooltip-arrow {
  background-color: black;
  color: white;
}

@media only screen and (min-width: 960px) {
  a.imgGallery img {
    height: 20vw;
  }

}

.sectionMicrosite {
  display: flex;

  align-items: baseline;
}

.sectionMicrosite>i.fa-object-group {
  color: #00E0C7;
  flex-basis: 20%
}

.sectionMicrosite>h6 {
  flex-basis: 80%
}

.btn-quota {
  width: 100px;
}

.MuiSlider-markLabel {
  writing-mode: sideways-lr;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f6f6f8
}

.cev-dashboard {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.9;
  position: absolute;
  background-color: #f6f6f8;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3 {
    color: var(--terciario)
    
  }
}

.buscador {
  display: flex;
  flex-direction: column;
}

.buscador-container {
  display: flex;
  flex-direction: column;
  margin: auto  5vw;
  padding-top: 10vh;
}

#root {
  background-color: #f6f6f8;
}

@import "~react-image-gallery/styles/css/image-gallery.css";

.toTop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 100%;
  border: 0;
  z-index: 9999;
  cursor: pointer;
}

.toTop:hover {
  background: #2a5080;
  color:white;
}
.title-content-detail{
  display: flex;
  justify-content: space-between;
}

.warning-color {
  color:var(--yellow-cev);
}
.success-color {
  color: var(--primary)
}

.terciario-color {
  color:var(--terciario);
}

.toTop span {
  align-items: center;
  justify-content: center;
}

.container-templates {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: nowrap;
  margin: 2rem;
}

.item-content-detail {
  display:flex;
  flex-direction: column;
}



.separator {
  border: 1px dashed var(--terciario);
  margin: 2rem 1rem;
}
.bookmarksIcon{
  color:var(--yellow-cev)
}

.cev-bookmarks-content {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  overflow-y: auto;
  overflow-x: clip;
  .title, .footer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  .content {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
}

.MuiAppBar-root, header {
  z-index: 1300!important;
  box-shadow: 5px 5px 0px 0px rgba(230,230,230,1);
}

.search-container {
  position: fixed;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: right;
  display: flex;
  top: 64px;
  background-color: #f5f5f5;
  width: 100%;
  z-index: 1100;
  padding: 0.1rem 0rem;
  box-shadow: 5px 5px 5px 0px #e5e5e5;
}

.cev-checkbox-bar input:checked ~ .checkmark {
  background-color: var(--terciario)
}

cev-checkbox-bar .checkmark {
  position: absolute;
  top: 0px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: var(--terciario500);
}

.login-button-hide{
  color: #fff !important;
}